<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".utils.AppController"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MDemo"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".ui.fragments.towerCivilInfra.TowerEarthingFragment"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.fragments.towerCivilInfra.TowerEquipmentFragemnt"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.fragments.towerCivilInfra.TwrInfraDetails"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.logs.LogsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.alert.AlertActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.fragments.services_request.ServicesRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.utilites.SMPSDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.utilites.BatteryBankDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.fragments.project.DemoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.fragments.task.TaskActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MDemo.NoActionBar" />
        <activity
            android:name=".ui.basic_info.SiteImages"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.site_lease_acquisition.NewSiteAcquisitionActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.smarthub.baseapplication.ui.fragments.noc.NocDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.basic_info.BasicInfoDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.fragments.qat.QATCheckActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.fragments.customer_tab.OpcoTenancyActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.fragments.profile.ProfileActivity"
            android:exported="true"
            android:label="@string/setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.fragments.profile.EditProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.utilites.UtilitiesNocActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LanguageActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.fragments.qat.AtpMainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SettingActivity"
            android:exported="true"
            android:label="@string/setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SearchActivity"
            android:exported="true"
            android:label="@string/setting"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smarthub.baseapplication.ui.fragments.powerConnection.PowerConnectionDetailsActivity"
            android:exported="true"
            android:label="@string/setting" />
        <activity
            android:name=".activities.DashboardActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FAQActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.smarthub.baseapplication.imagePicker.ui.album.ui.AlbumActivity"
            android:label="@string/album"
            android:screenOrientation="portrait"
            android:theme="@style/FishBunTheme" />
        <activity
            android:name="com.smarthub.baseapplication.imagePicker.ui.picker.PickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FishBunTheme" />
        <activity
            android:name="com.smarthub.baseapplication.imagePicker.ui.detail.ui.DetailImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DetailViewTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>